/*  main CSS for the Pyramind Lobby Page */

:root {
  --floatBottom: 230px;
  --mainWidth: 1856px;
  --mainHeight: 1044px;
}

.mainContainer {
  position: absolute;
  display: grid;
  left: 32px;
  justify-items: center;
  align-items: start;
  height: var(--mainHeight);
  width: var(--mainWidth);
}

.calHolder {
  border: 1px solid black;
  align-self: center;
}

.floaterWindowLeft {
  position: absolute;
  left: 0;
  top: 0;
  background: white url('../img/Horiz_Transparent.png') no-repeat;
  background-size: contain;
  width: 50%;
  height: var(--floatBottom);
  z-index: 1;
}

.floaterWindowRight {
  position: absolute;
  /*display: grid;*/
  top: 0;
  left: 50%;
  width: 50%;
  height: var(--floatBottom);
  background-color: black;
  z-index: 1;
}

.floaterBottomBorder {
  border-bottom: 5px solid black;
}

/*--------------------------------*/
/* CSS for the calendar color key */
/*--------------------------------*/

/* text properties */
.keyText{
  color: white;
  text-align: left;
  font-family: Arial, sans-serif;
  line-height: 1.8em;
}
.keyText h1 {
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: underline;
  text-align: center;
}
.keyText p {
  line-height: 0.8em;
}

.keyHolder {
  margin: 0 auto;
  height: 100%;

  display: grid;
  grid-template-rows: minmax(0, 33%) minmax(0,66%);
  grid-column-gap: 1em;
  grid-template-areas:
    "top"
    "body";
}

.keyHolderTop {
  grid-area: top;
}

.keyHolderBody {
  grid-area: body;

  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 0 10%;
}

.keyBox {
  flex: 0 1 30%;
  display: flex;
  align-items: center;

}

.colorBox {
  display: inline-block;
  height: 80%;
  width: 1.8em;
  margin: 0 .8em 0 .4em;
}

.textBox {
  text-align: inherit;
}

.yellowLabColor {
  background-color: #668CD9;
}
.magentaLabColor {
  background-color: #D47F1E;
}
.studioBColor {
  background-color: #AD2D2D;
}
.livingRoomColor {
  background-color: #737373;
}
.monarchColor{
  background-color: #8c66d9;
}

/*--------------------------------*/
/* CSS for the days of the week box */
/*--------------------------------*/

.weekDiv {
  position: absolute;
  top: var(--floatBottom);
  left: 49px;
  height: 90px;
  width: 96%;
  /*background: grey;*/
  display: grid;
  grid-template-columns: repeat(7, 1fr);

}
.dayBox {
  height: 99%;
  width: 100%;
  background: #7e96bd;
  border: 1px black solid;
  justify-self: stretch;
}
.dayBox h2 {
  text-align: center;
  height: 50%;
  padding-top: 10px;
  color: white;
  font-family: Arial, sans-serif;
}

/*--------------------------------*/
/* CSS iFram cal div*/
/*--------------------------------*/
.calendarIframe {
  width:100%;
  height:100%;
  border: 0;
  margin: 0;
  padding: 0;
}

/*--------------------------------*/
/* CSS for the clock */
/*--------------------------------*/

.clockHolder {
  position: fixed;
  background-color: #253439;
  border-radius: 15px 0 0 0;
  bottom: 0;
  color: white;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  right: 0;
  height: 8em;
  width: 20%;
}

#clock {
  display: flex;
  display: -webkit-flex;
  justify-content: center; 
  -webkit-justify-content: center;
  left: calc(50% - 300px);
  /*position: absolute;*/
  top: calc(50% - 65px);
}
#date {
  text-align: center;
}

.largeFont {
  margin: 0;
  padding: 0;
  font-size: 3em;
}
.smallFont {
  font-size: 2em;
}
